/*header {
    background-image: image(.\public\img\header.jpg);
}*/
/*---------Navigation----------*/
nav {
    background-color: rgba(0, 0, 0, 0.178);
    font-family: Verdana;
    font-weight: bold;
    
}
/*ul.list-inline a {
    display: inline;
}*/
.list-justify {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; /*space-between*/
}
