/*header {
    background-image: image(.\public\img\header.jpg);
}*/
body {
    font-family: Verdana;
}
    

/*---------Navigation----------*/
nav {
    background-color: rgba(0, 0, 0, 0.466);
    font-family: Verdana;
    font-weight: bold;
    
    
}
/*ul.list-inline a {
    display: inline;
}*/
.list-justify {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; /*space-between*/
}
li a {
    color: floralwhite;
}
.main_nav {
    text-transform: uppercase;
    
}

.reg-auth {
    color: #dc3545;
}

.mainheader {
    background: url(../img/header.jpg) no-repeat center center;
    /*color: floralwhite;*/
    background-size: cover;
}
.header_text {
    color: rgb(255, 255, 255);
    font-weight: bold;
    
}
h1.display-3.font-italic {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.choose {
    text-transform: uppercase;
    font-weight: bold;
}
a.btn.btn-danger.btn-lg {
    font-weight: bold;
}
h3 {
    text-transform: uppercase;
}
.jumbotron.text-center.mainheader {
    margin-top: 3.5em;
}

.content {
    margin-top: 7em;
}
.myform {
    margin-top: 9em;
}


.content {
    min-height: calc(100vh - 70px);
  }

  footer {
    background: url(../img/footer.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 5em;
    padding-bottom: 6em;
    /*color: rgb(255, 255, 255);*/
    font-weight: bold;
    
  }
  footer p {
    color: rgba(20, 17, 17, 0.89);
    font-size: 11pt;
    
  }
  p.float-right a {
    background: #28a7469d;
    color: rgb(255, 255, 255);
    padding: 0.3em;
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: green!important;
  }
  
  .custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25)
  }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
  }
  .custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: #C8FFC8; 
  }

  @media print {
   .hide-print{
       display: none;
   }
}